.full-width {
    width: 100%;
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

.mb-30 {
    margin-bottom: 30px;
}

p {
    font-family: 'Rambla', sans-serif;
    font-size: 15px;
    line-height: 1.75em;
    font-weight: 400;
    color: #888;
    margin: 0 0 20px;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    appearance: none;
    background: transparent;
    border-radius: 0;
    font-family: 'Rambla', sans-serif;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

input, textarea {
    max-width: 100%;
    margin-bottom: 15px;
    border-color: #ececec;
    padding: 18px 0px 10px;
    height: auto;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-width: 0 0 1px;
    border-style: solid;
    display: block;
    width: 100%;
    font-size: 15px;
    line-height: 1.75em;
    font-weight: 400;
    color: #101010;
    background-image: none;
    border-bottom: 1px solid #ececec;
    border-color: ease-in-out .15s, box-shadow ease-in-out .15s;
}

input:focus, textarea:focus {
    outline: none;
    border-color: #101010 ;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn {
    font-family: 'Rambla', sans-serif;
    font-size: 16px;
    line-height: 1.75;
    font-weight: 400;
    border-style: solid;
    color: #fff;
    border-width: 0;
    -webkit-transition: background-color .15s ease-out;
    transition: background-color .15s ease-out;
    background-color: #101010;
    margin-top: 10px;
    border-radius: 0;
    margin-right: 10px;
    float: left;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:active, .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #101010;
    border-bottom: 2px solid #101010;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    outline: 0;
}