<div>
    <p class="heading-meta p-col p-pl-5 p-pt-5 p-mb-0 p-mt-5">INFORMATION</p>
    <h2 class="addo-heading p-pl-5 fadeInLeft animated p-m-0" data-animate-effect="fadeInLeft"><b>About Me</b>
    </h2>
    <div class="p-grid p-p-0 full-width">
        <div class="p-md p-sm p-lg-5 p-p-5">
            <img src="./assets/images/Professional-Headshot-Poses-Blog-Post.jpg" class="img-fluid">

        </div>
        <div class="p-md p-sm p-lg-7 p-pt-5 p-pl-2 p-pr-5 p-pb-5">
            <p class="p-pl-5 heading-meta p-col">About Me </p>
            <h3 class="p-pl-5" data-animate-effect="fadeInLeft"><b>I'm Elavarasan</b></h3>
            <p class="objective p-pl-5 p-mb-4">Hi, My name is Elavarasan. I am a Web Developer, and asellus
                tempus
                porttitor
                estnecer
                intiorer. Nulla
                facilisi. Nulla cursus velit et faucibus lobortis. In tincider diam metus tincede mollis aryi
                egestas
                quis. Nunc vitae felis lectus. Pellentesque imperdiet augue erat aliquer interdume turpis
                congue.
                Aliquam euismod turpis.</p>

            <div class="p-grid p-pl-5">
                <div class="p-col-12 p-md-6 p-lg-6">
                    <p class="dob"><b>Birthday:</b> 15 April 1990</p>
                </div>
                <div class="p-col-12 p-md-6 p-lg-6">
                    <p class="dob"><b>Degree:</b> Master</p>
                </div>
                <div class="p-col-12 p-md-6 p-lg-6">
                    <p class="dob"><b>Website:</b> www.dornan.com</p>
                </div>
                <div class="p-col-12 p-md-6 p-lg-6">
                    <p class="dob"><b>Mail:</b> elavarasan29597@gmail.com</p>
                </div>
            </div>
            <div class="p-grid p-pl-5">
                <div class="p-col-12 p-md-6 p-lg-6">
                    <p class="dob"><b>Phone:</b> +1 650-444-0000</p>
                </div>
                <div class="p-col-12 p-md-6 p-lg-6">
                    <p class="dob"><b>Linkedin:</b> /elavarasan</p>
                </div>
            </div>
            <div class="p-grid p-pl-5">
                <p-button class="p-button-secondary p-lg-4" label="HIRE ME" [loading]="loadinghearMe"
                    (onClick)="hearMe()">
                </p-button>
                <p-button class="p-button-secondary p-lg-6" label="DOWNLOAD CV" [loading]="loadingdownloadCv"
                    (onClick)="downloadCv()"></p-button>
            </div>
        </div>
        <div class="p-lg-12 p-ml-2 p-mr-0 shodow" style="background: #f7f7f7;">
            <p class="p-pl-5 heading-meta p-col">ABILITIES </p>
            <h3 class="p-pl-5" data-animate-effect="fadeInLeft"><b>MY SKILLS</b></h3>

            <div class="p-grid p-pl-5">
                <div class="p-col-12 p-md-6 p-lg-6">
                    <p class="dob">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum cupiditate
                        vero
                        dolor, nam odit repudiandae eum impedit unde aut laborum neque? Nisi ut quis praesentium
                        dolores
                        necessitatibus, eius soluta mollitia?</p>
                    <p class="dob">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum cupiditate
                        vero
                        dolor, nam odit repudiandae eum impedit unde aut laborum neque? Nisi ut quis praesentium
                        dolores
                        necessitatibus, eius soluta mollitia?</p>
                    <p class="dob">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum cupiditate
                        vero
                        dolor, nam odit repudiandae eum impedit unde aut laborum neque? Nisi ut quis praesentium
                        dolores
                        necessitatibus, eius soluta mollitia?</p>
                    <p class="dob">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum cupiditate
                        vero
                        dolor, nam odit repudiandae eum impedit unde aut laborum neque? Nisi ut quis praesentium
                        dolores
                        necessitatibus, eius soluta mollitia?</p>
                    <p class="dob">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum cupiditate
                        vero
                        dolor, nam odit repudiandae eum impedit unde aut laborum neque? Nisi ut quis praesentium
                        dolores
                        necessitatibus, eius soluta mollitia?</p>
                    <p class="dob">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum cupiditate
                        vero
                        dolor, nam odit repudiandae eum impedit unde aut laborum neque? Nisi ut quis praesentium
                        dolores
                        necessitatibus, eius soluta mollitia?</p>
                </div>
                <div class="p-col-12 p-md-6 p-lg-6 p-p-5">
                    <p class="bar-title">HTML<span class="percent align-right">90%</span></p>
                    <div class="bar">
                        <div class="bar-fill bar-fill-developer start"></div>
                    </div>
                    <p class="bar-title">CSS<span class="percent align-right">90%</span></p>
                    <div class="bar">
                        <div class="bar-fill bar-fill-developer start"></div>
                    </div>
                    <p class="bar-title">Javascrip,Jquery<span class="percent align-right">90%</span></p>
                    <div class="bar">
                        <div class="bar-fill bar-fill-developer start"></div>
                    </div>

                    <p class="bar-title">Angular<span class="percent align-right">90%</span></p>
                    <div class="bar">
                        <div class="bar-fill bar-fill-developer start"></div>
                    </div>
                    <p class="bar-title">Laravel<span class="percent align-right">90%</span></p>
                    <div class="bar">
                        <div class="bar-fill bar-fill-developer start"></div>
                    </div>
                    <p class="bar-title">Java<span class="percent align-right">90%</span></p>
                    <div class="bar">
                        <div class="bar-fill bar-fill-developer start"></div>
                    </div>
                    <p class="bar-title">SQL , MySql<span class="percent align-right">90%</span></p>
                    <div class="bar">
                        <div class="bar-fill bar-fill-developer start"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>