<div class="overlay-head">
    <div class="background-image"></div>
    <div class="overlay-color p-d-flex p-jc-center">
        <div class="p-d-flex p-grid">
            <div class="p-as-center slider p-col p-grid">
                <div class="slider-inner p-col">
                    <div class="image_wrap"> <img class="image_wrap" src="./assets/images/man-working-night.jpg"
                            alt="">
                    </div>
                    <h1>ELAVARASAN</h1>
                    <h2 class="cd-headline clip">
                        <span>I'm</span>
                        <span class="cd-words-wrapper" style="width:61.1318px; overflow: hidden;">
                            <b class="is-visible">&nbsp;Web Developer</b>
                            <b class="is-hidden">&nbsp;Freelancer</b>
                        </span>
                    </h2>
                </div>
                <div class="arrow bounce p-mt-4">
                    <a routerLink="/about" class="scroll p-d-flex p-jc-center stage">
                        <i class="pi pi-angle-double-down box bounce-2"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer class="lg-hide"></app-footer>