<div class="p-p-2" style="background: #f7f7f7;">
    <p class="heading-meta p-col p-pl-5 p-pt-5 p-mb-0 p-mt-5">READ</p>
    <h2 class="addo-heading p-pl-5 fadeInLeft animated p-m-0" data-animate-effect="fadeInLeft"><b>LATEST
            BLOGS</b>
    </h2>
    <div class="p-col-12 p-md-12 p-lg-12 shodow">
        <div class="p-grid p-p-4">
            <div class="p-col-12 p-md-6 p-lg-4">
                <div class="blog-entry animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">
                    <a routerLink="/blog" class="blog-img"><img src="./assets/images/man-working-night.jpg"
                            class="img-fluid" alt=""></a>
                    <div class="desc"> <span>in <b><a href="#">TRAVEL</a></b></span>
                        <h3><a routerLink="/blog">Bootstrap Framework</a></h3>
                        <p>Fusce suscipit, ante a hendrerit ullamcorper, risus nisl cursus purus, sit amet
                            viverra ante nulla vel justo. Morbi justo erat, posuere vel libero non, bibendum
                            convallis enim.</p>
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-4">
                <div class="blog-entry animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">
                    <a routerLink="/blog" class="blog-img"><img src="./assets/background-image/3426526.jpg"
                            class="img-fluid" alt=""></a>
                    <div class="desc"> <span>in <b><a href="#">TRAVEL</a></b></span>
                        <h3><a routerLink="/blog">Bootstrap Framework</a></h3>
                        <p>Fusce suscipit, ante a hendrerit ullamcorper, risus nisl cursus purus, sit amet
                            viverra ante nulla vel justo. Morbi justo erat, posuere vel libero non, bibendum
                            convallis enim.</p>
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-4">
                <div class="blog-entry animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">
                    <a routerLink="/blog" class="blog-img"><img
                            src="./assets/images/Professional-Headshot-Poses-Blog-Post.jpg" class="img-fluid"
                            alt=""></a>
                    <div class="desc"> <span>in <b><a href="#">TRAVEL</a></b></span>
                        <h3><a routerLink="/blog">Bootstrap Framework</a></h3>
                        <p>Fusce suscipit, ante a hendrerit ullamcorper, risus nisl cursus purus, sit amet
                            viverra ante nulla vel justo. Morbi justo erat, posuere vel libero non, bibendum
                            convallis enim.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
