<!-- <li>{{ 'startsWith' | translate }}</li> -->
<div class="p-p-0">

    <!-- <div [@routeAnimations]="prepareRoute(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
    </div> -->
    <div class="p-grid">
        <div class="p-col-12 p-md-12 p-lg-3 p-p-0">
            <app-menu></app-menu>
        </div>
        <div class="p-col-12 p-md-12 p-lg-9 p-p-0">

            <div [@routeAnimations]="prepareRoute(outlet)">
                <router-outlet #outlet="outlet"></router-outlet>
            </div>
        </div>

    </div>