<p class="heading-meta p-col p-pl-5 p-pt-5 p-mb-0 p-mt-5">READ</p>
<h2 class="addo-heading p-pl-5 fadeInLeft animated p-m-0" data-animate-effect="fadeInLeft"><b>HOBBIES</b>
</h2>
<div class="p-col-12 p-md-12 p-lg-12">
    <div class="p-grid p-p-3">
        <div class="p-col-12 p-md-6 p-lg-8 animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">
            <img style="width: 100%;" class="img-fluid" src="./assets/background-image/3426526.jpg" alt="">
            <img style="width: 100%;" class="img-fluid mb-30"
                src="./assets/images/Professional-Headshot-Poses-Blog-Post.jpg" alt="">
        </div>
        <div class="p-col-12 p-md-6 p-lg-4 animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">
            <div id="sticky_item">
                <div class="project-desc">
                    <h2>Block 8</h2>
                    <p>Yuroin non lorem ac erat suscipit bibendum. Nulla facilisi. Sedeuter nunc volutpat, mollis sapien
                        vel, conseyer turpeutionyer massa in libero semper. Fusce mollis augue sit amet hendrerit
                        vestibulum. Duisteyerionyer venenatis lacus.</p>
                    <p>Fusce mollis augue sit amet hendrerit vestibulum. Duisteyerionyer venenatis lacus.</p>
                    <p>Yuroin non lorem ac erat suscipit bibendum. Nulla facilisi. Sedeuter nunc volutpat, mollis sapien
                        veli, conseyer turpeutionyer massa in libero semper.</p>
                    <p>
                        <b>Project Name:</b> Block 8 <br>
                        <b>Client:</b> Creative Market <br>
                        <b>Skills:</b> Photoshop S4 <br>
                        <b>Category:</b> Branding Desing
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>