<div>
    <p class="heading-meta p-col p-pl-5 p-pt-5 p-mb-0 p-mt-5">WHAT I DO</p>
    <h2 class="addo-heading p-pl-5 fadeInLeft animated p-m-0" data-animate-effect="fadeInLeft"><b>SERVICES</b>
    </h2>
    <div class="p-grid full-width p-p-5">
        <div class="p-col-12 p-md-6 p-lg-4">
            <div class="addo-feature animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">
                <div class="addo-icon"> <i class="pi pi-desktop font-35px"></i> </div>
                <div class="addo-text">
                    <h3>Web Desing</h3>
                    <p>Fusce suscipit, ante a hendrerit thelery ullamcorper, risus nisl cursus purus the viverra
                        ante nulla vel justo.</p>
                </div>
            </div>
        </div>
        <div class="p-col-12 p-md-6 p-lg-4">
            <div class="addo-feature animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">
                <div class="addo-icon"> <i class="pi pi-globe font-35px"></i> </div>
                <div class="addo-text">
                    <h3>Development</h3>
                    <p>Fusce suscipit, ante a hendrerit thelery ullamcorper, risus nisl cursus purus the viverra
                        ante nulla vel justo.</p>
                </div>
            </div>
        </div>
        <div class="p-col-12 p-md-6 p-lg-4">
            <div class="addo-feature animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">
                <div class="addo-icon"> <i class="pi pi-camera font-35px"></i> </div>
                <div class="addo-text">
                    <h3>Photography</h3>
                    <p>Fusce suscipit, ante a hendrerit thelery ullamcorper, risus nisl cursus purus the viverra
                        ante nulla vel justo.</p>
                </div>
            </div>
        </div>

        <div class="p-col-12 p-md-6 p-lg-4">
            <div class="addo-feature animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">
                <div class="addo-icon"> <i class="pi pi-briefcase font-35px"></i> </div>
                <div class="addo-text">
                    <h3>Marketing</h3>
                    <p>Fusce suscipit, ante a hendrerit thelery ullamcorper, risus nisl cursus purus the viverra
                        ante nulla vel justo.</p>
                </div>
            </div>
        </div>
        <div class="p-col-12 p-md-6 p-lg-4">
            <div class="addo-feature animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">
                <div class="addo-icon"> <i class="pi pi-microsoft font-35px"></i> </div>
                <div class="addo-text">
                    <h3>Fully Responsive</h3>
                    <p>Fusce suscipit, ante a hendrerit thelery ullamcorper, risus nisl cursus purus the viverra
                        ante nulla vel justo.</p>
                </div>
            </div>
        </div>
        <div class="p-col-12 p-md-6 p-lg-4">
            <div class="addo-feature animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">
                <div class="addo-icon"> <i class="pi pi-th-large font-35px"></i> </div>
                <div class="addo-text">
                    <h3>Art Direction</h3>
                    <p>Fusce suscipit, ante a hendrerit thelery ullamcorper, risus nisl cursus purus the viverra
                        ante nulla vel justo.</p>
                </div>
            </div>
        </div>

    </div>
    <div class="p-col-12 p-md-12 p-lg-12 shodow" style="background: #f7f7f7;">
        <p class="p-pl-5 heading-meta p-col">MY REFERENCE </p>
        <h3 class="p-pl-5" data-animate-effect="fadeInLeft"><b>REFERENCES</b></h3>

        <div class="p-grid">
            <div class="p-col-12 p-md-6 p-lg-4 animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">
                <div class="team"> <img src="./assets/images/Professional-Headshot-Poses-Blog-Post.jpg"
                        class="img-fluid" alt="">
                    <div class="desc">
                        <div class="con">
                            <h3>Jason Lee</h3> <span>AMM Company | CEO</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-4 animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">
                <div class="team"> <img src="./assets/images/Professional-Headshot-Poses-Blog-Post.jpg"
                        class="img-fluid" alt="">
                    <div class="desc">
                        <div class="con">
                            <h3>Jason Lee</h3> <span>AMM Company | CEO</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-4 animate-box fadeInLeft animated" data-animate-effect="fadeInLeft">
                <div class="team"> <img src="./assets/images/Professional-Headshot-Poses-Blog-Post.jpg"
                        class="img-fluid" alt="">
                    <div class="desc">
                        <div class="con">
                            <h3>Jason Lee</h3> <span>AMM Company | CEO</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>